* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/* Utility Class */
.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center ;
  align-items: baseline ;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center ;
  align-items: center ;
}

.position-absolute {
  position: absolute;
  top: 0%;
  left: 0%;
}

.position-relative {
  position: relative;
}

.pt-0 {
  padding-top: 0% ;
}
.p-0 {
  padding: 0rem ;
}
.p-1 {
  padding: 1rem ;
}

.p-2 {
  padding: 2rem ;
}

.p-3 {
  padding: 3rem ;
}

.p-4 {
  padding: 4rem ;
}

.p-5 {
  padding: 5rem ;
}

/* // NavBar */

.ham-container {
  top: 12%;
  left: 2%;
}

.nav-container-main {
  padding: 1rem;
}

.nav-container-main img {
  width: 120px;
}

/* Home  */

.home-card-container{
    justify-content: space-between;
    flex-wrap: wrap;

}

.card-item {
  cursor: pointer;
  gap: 0.5rem;
  color: white;
  text-transform: uppercase;
  border-radius: 10px;
  width: 300px;
  height: 160px;
  transition: all 300ms;
}

.card-item:hover {
transform: scale(1.07);
-webkit-box-shadow: 0px 30px 46px -18px rgba(153, 153, 153, 0.608);
-moz-box-shadow: 0px 30px 46px -18px rgba(153, 153, 153, 0.608);
box-shadow: 0px 30px 46px -18px rgba(153, 153, 153, 0.608);
}


/* // data grid  */

.data-grid-container{
  -webkit-box-shadow: 0px 30px 46px -18px rgba(153, 153, 153, 0.485);
  -moz-box-shadow: 0px 30px 46px -18px rgba(153, 153, 153, 0.593);
  box-shadow: 0px 30px 46px -18px rgba(153, 153, 153, 0.567);
}